@import url("https://fonts.googleapis.com");
@import "tailwindcss";

@theme {
  --font-inter: "Monsieur La Doulaise", cursive;
}

input::-ms-reveal {
  display: none;
}
input::-ms-clear {
  display: none;
}
